.root-level-lable {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.root-level-lable .show-img {
  display: flex;
  align-items: center;
  flex: 1;
}
.root-level-lable .show-text {
  color: rgba(0, 0, 0, 0.68);
  align-self: center;
  font-size: 16px;
  font-weight: 500;
  flex: 1;
}
.root-level-lable .toggle {
  width: 16px;
  height: 16px;
  margin-left: 12px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.root-level-lable .toggle:active {
  background-color: rgba(166, 166, 166, 0.53);
  transition: transform 1s liner;
  transform: rotate(90deg);
}
