.root-user-info {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.38);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.root-user-info .info {
  margin: 4px 4px 0px 4px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 4px;
}
.root-user-info .info .info-attr {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.38);
}
.root-user-info .info .info-value {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.68);
}
.root-user-info .button-group {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 12px;
}
.header .info .info-header {
  color: red;
  font-size: 20px;
}
