@line-color: rgba(0, 0, 0, 0.38);
@text-size-smaller: 12px;
@text-size-normal: 16px;
@text-size-large: 20px;
@text-size-larger: 24px;
@text-color-normal: rgba(0, 0, 0, 0.68);
@text-color-bold: rgba(0, 0, 0, 0.88);
@background-color: rgba(255, 255, 255, 0.68);
@atom-space: 4px;
@atom-space-double: @atom-space * 2;
@atom-space-trible: @atom-space * 3;

.root-growth {
  background-color: @background-color;
  border-radius: @atom-space-double;
  max-width: 444px;
  position: relative;

  .header {
    display: flex;
    border-bottom: thin solid @line-color;
    margin: 0px @atom-space-double;

    .icon {
      border-radius: 50%;
      width: 48px;
      height: 48px;
      margin: @atom-space-double @atom-space-double @atom-space @atom-space;
    }

    .name {
      margin-bottom: @atom-space-trible;
      font-size: @text-size-large;
      color: @text-color-bold;
      align-self: self-end;
      text-align: left;
    }

    .select {
      width: 100px;
    }
  }

  .more {
    position: absolute;
    right: 8px;
    top: 8px;
  }

  .content {
    display: flex;
    padding: @atom-space-double;
    // font-size: @text-size-normal;

    .content-column {
      flex-grow: 1;
      margin: @atom-space @atom-space-double;

      div {
        display: flex;
        align-items: center;
      }
    }
  }
}

.card-single {
  box-shadow: rgba(0, 0, 0, 0.38) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-multiple {
  margin-top: @atom-space-double;
  margin-right: @atom-space-double;
  box-shadow: @line-color 0px 0px 0px 1px inset, @background-color 4px -4px 0px -1px, @line-color 4px -4px, @background-color 8px -8px 0px -1px, @line-color 8px -8px, @line-color 0px 3px 8px;
}
