.root-state-label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.root-state-label .dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  align-self: center;
}
.root-state-label .dot::after {
  content: '';
  margin: 5px;
  margin-left: 0px;
  display: table;
  width: 10px;
  height: 10px;
  background: var(--dotColor);
  border-radius: 50%;
}
.root-state-label .state {
  display: inline-block;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.68);
  font-size: 12px;
}
