@atom-space: 4px;
@atom-space-double: @atom-space * 2;
@atom-space-trible: @atom-space * 3;

@text-color-light-thin: rgba(0,0,0,0.38);
@text-color-light-normal: rgba(0,0,0,0.68);
@text-color-light-thick: rgba(0,0,0,0.88);
@text-color-dark-thin: rgba(255,255,255,0.38);
@text-color-dark-normal: rgba(255,255,255,0.68);
@text-color-dark-thick: rgba(255,255,255,0.88);

@bg-color-light-partial: rgba(255,255,255,0.68);
@bg-color-light-global: #E7E7E7;
@bg-color-dark-partial: rgba(0,0,0,0.32);
@bg-color-dark-global: #2B2B2B;